<div class="row">
    <div class="col-md-12">
      <h1>Resumen</h1>
      <div class="panel panel-default hidden">
        <div class="col-md-12"><h2>{{cliente.nombre}}</h2></div>
        <div class="panel-body">

        <h3>{{cliente.nombre}}</h3>
          <div class="col-md-12 col-lg-4">
            <p><strong>Email:</strong>
              {{cliente.email}}
            </p>
            <p><strong>Telefono:</strong>
               {{cliente.telefono}}
            </p>

          </div>
          <div class="col-md-12 col-lg-4">

          </div>
          <div class="col-md-12 col-lg-4">
            <p>
              <strong>N° Cotización: </strong>{{cotizacion.numero}}
            </p>
            <p>
              <strong>Responsable: </strong>{{cotizacion.responsable}}
            </p>
        </div>
        <p><strong>Dirección:</strong>{{cliente.direccion}}</p>
      </div>
    </div>
        <form class="formulario">
          <h2>Contenedores</h2>
          <table class="table table-bordered">
              <tr class="info">
                <th>Contenedor</th>
                <th style="width:80px; padding:10px;">Cantidad</th>
                <th style="width:80px; padding:10px; padding-left:30px;">m<sup>3</sup></th>
              </tr>
              <tr ng-repeat="item in contenedores_temp">
                <td>{{item.contenedor}}</td>
                <td align="center">{{item.unidad}}</td>
                <td align="center">{{item.punto/10|number:2}}</td>
              </tr>
              <tr class="active">
                <td><strong>Total</strong></td>
                <td align="center"><strong>{{unidades_contenedores}}</strong></td>
                <td align="center"><strong>{{metros3_contenedores|number:2}}</strong></td>
              </tr>
          </table>

          <h2>Muebles</h2>
          <table class="table table-bordered">
            <tr class="info">
              <th>Mueble</th>
              <th style="width:80px; padding:10px;">Cantidad</th>
              <th style="width:80px; padding:10px; padding-left:30px;">m<sup>3</sup></th>
            </tr>
            <tr ng-repeat="item in muebles_temp">
              <td>{{item.mueble}}</td>
              <td align="center">{{item.cantidad}}</td>
              <td align="center">{{item.total_punto/10|number:2}}</td>
            </tr>
            <tr class="active">
              <td><strong>Total</strong></td>
              <td align="center"><strong>{{unidades_muebles}}</strong></td>
              <td align="center"><strong>{{metros3_muebles|number:2}}</strong></td>
            </tr>
          </table>

          <h2>Otros</h2>
          <table class="table table-bordered">
            <tr class="info">
              <th>Descripción</th>
              <th style="width:80px; padding:10px;">Dimension</th>
              <th style="width:80px; padding:10px;">Cantidad</th>
              <th style="width:80px; padding:10px; padding-left:30px;">m<sup>3</sup></th>
            </tr>
            <tr ng-repeat="item in otros_temp">
              <td ng-if="item.mueble == 'Otros'">Otros-{{item.descripcion}}</td>
              <td ng-if="item.mueble != 'Otros'">{{item.mueble}}</td>
              <td align="center">{{item.ancho}}x{{item.largo}}x{{item.alto}}</td>
              <td align="center">{{item.cantidad}}</td>
              <td align="center">{{item.total_punto/10|number:2}}</td>
            </tr>
            <tr class="active">
              <td colspan="2"><strong>Total</strong></td>
              <td align="center"><strong>{{unidades_otros}}</strong></td>
              <td align="center"><strong>{{metros3_otros|number:2}}</strong></td>
            </tr>
          </table>

          <h2>Totales</h2>
          <table style="width:200px;" class="table table-bordered">
            <tr>
              <th class="info">Total Contenido</th>
              <td align="center"><strong>{{unidades_contenedores+unidades_muebles+unidades_otros}}</strong></td>
            </tr>
            <tr>
              <th class="info">Total m<sup>3</sup></th>
              <td align="center"><strong>{{metros3_contenedores+metros3_muebles+metros3_otros|number:2}}</strong></td>
            </tr>
          </table>
          <button type="submit" ng-disabled="otros_temp.length === 0 && contenedores_temp.length === 0 && muebles_temp.length === 0" class="btn btn-success" onclick="descargarExcel()" ng-click="save(cotizacion,cliente)">Exportar</button>
        </form>
    </div>

    <div id="divExportar" class="col-md-12 hidden">
        <h1>Resumen</h1>
            <!-- <table border=1 id="tablaTotal" class="hidden">
              <tr>
                <th style="background-color: #d9edf7">Nro. Cotizacion</th>
                <td>{{cotizacion.numero}}</td>
              </tr>
              <tr>
                <th style="background-color: #d9edf7">Cliente</th>
                <td>{{cliente.nombre}}</td>
              </tr>
              <tr>
                <th style="background-color: #d9edf7">Responsable</th>
                <td>{{cliente.responsable}}</td>
              </tr>
            </table> -->

          <h2>Contenedores</h2>
            <legend></legend>
            <table border=1 id="tablaContenedor">
              <tr>
                <th style="background-color: #d9edf7;">Contenedor</th>
                <th style="background-color: #d9edf7;">Cantidad</th>
                <th style="background-color: #d9edf7;">m<sup>3</sup></th>
              </tr>
              <tr ng-repeat="item in contenedores_temp">
                <td>{{item.contenedor}}</td>
                <td>{{item.unidad}}</td>
                <td>{{item.punto/10|number:2}}</td>
              </tr>
              <tr style="background-color: #f5f5f5">
                <th class="estiloUno">Total</th>
                <td><strong>{{unidades_contenedores}}</strong></td>
                <td><strong>{{metros3_contenedores|number:2}}</strong></td>
              </tr>
            </table>

            <h2>Muebles</h2>
            <legend></legend>
            <table border=1 id="tablaMueble">
              <tr>
                <th style="background-color: #d9edf7">Mueble</th>
                <th style="background-color: #d9edf7">Cantidad</th>
                <th style="background-color: #d9edf7">m<sup>3</sup></th>
              </tr>
              <tr ng-repeat="item in muebles_temp">
                <td>{{item.mueble}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.total_punto/10|number:2}}</td>
              </tr>
              <tr style="background-color: #f5f5f5">
                <th class="estiloUno">Total</th>
              <td><strong>{{unidades_muebles}}</strong></td>
              <td><strong>{{metros3_muebles|number:2}}</strong></td>
              </tr>
            </table>

            <h2>Otros</h2>
            <legend></legend>
            <table border=1 id="tablaOtro">
              <tr>
                <th style="background-color: #d9edf7">Descripcion</th>
                <th style="background-color: #d9edf7">Dimension</th>
                <th style="background-color: #d9edf7">Cantidad</th>
                <th style="background-color: #d9edf7">m<sup>3</sup></th>
              </tr>
              <tr ng-repeat="item in otros_temp">
                <td ng-if="item.mueble == 'Otros'">Otros-{{item.descripcion}}
                <td ng-if="item.mueble != 'Otros'">{{item.mueble}}</td>
                <td>{{item.ancho}}x{{item.largo}}x{{item.alto}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.total_punto/10|number:2}}</td>
              </tr>
              <tr style="background-color: #f5f5f5">
              <th colspan="2" class="estiloUno">Total</th>
              <td><strong>{{unidades_otros}}</strong></td>
              <td><strong>{{metros3_otros|number:2}}</strong></td>
              </tr>
            </table>

            <h2>Totales</h2>
            <legend></legend>
            <table border=1 id="tablaTotal">
              <tr>
                <th style="background-color: #d9edf7">Total Contenido</th>
                <th><strong>{{unidades_contenedores+unidades_muebles+unidades_otros}}</strong></th>
              </tr>
              <tr>
                <th style="background-color: #d9edf7">Total m<sup>3</sup></th>
                <th><strong>{{metros3_contenedores+metros3_muebles+metros3_otros|number:2}}</strong></th>
              </tr>
            </table>
    </div>
</div>

<script>
function descargarExcel(){
        var tmpElemento = document.createElement('a');
        var data_type = 'data:application/vnd.ms-excel; charset=utf-8';
        var tabla_div = document.getElementById('divExportar');
        var tabla_html = tabla_div.outerHTML.replace(/ /g, '%20');
        tmpElemento.href = data_type + ', ' + tabla_html;
        //Asignamos el nombre a nuestro EXCEL
        tmpElemento.download = 'Resumen.xls';
        tmpElemento.click();
    }
</script>
